---
layout: home
---

<main role="main" class="main home">
    <div class="jumbotron">
        <div class="container jumbotron-container">
            <img src="{{ site.baseurl }}/assets/img/logos/datahub_color_vert-gry-bg.png" alt="DATA HUB ICON">
            <div class="jumbotron-title-container">
                <div class="jumbotron-title">
                    <h1>A Data & AI Platform for the Hybrid Cloud</h1>
                </div>
                <div>
                    <a class="btn btn-lg btn-primary btn-getting-started" target="_blank"
                       href="{{ site.repo }}"
                       role="button">Get started &raquo;
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-content">
        <div class="row dh-info">
            <div class="dh-info-text-container col-md-8">
                <div class="dh-info-section">
                    <h2 class="dh-info-title">What is Open Data Hub?</h2>
                    <p>
                        The Open Data Hub is a machine-learning-as-a-service platform built on Red Hat's <a href="https://kubernetes.io/">Kubernetes</a>-based 
                        <a href="https://www.openshift.com/">OpenShift&reg; Container Platform</a>, 
                        <a href="https://www.redhat.com/en/technologies/storage/ceph">Ceph Object Storage</a>, and 
                        <a href="https://developers.redhat.com/blog/2018/05/07/announcing-amq-streams-apache-kafka-on-openshift/">Kafka/Strimzi</a> 
                        integrating a collection of open source projects. It inherits from upstream efforts 
                        such as <a href="https://www.kubeflow.org/">Kubeflow</a> and is the base of Red Hat's internal data-science and ML service.
                        Data scientists can create models using Jupyter notebooks, and select from popular tools such as
                        <a href="https://www.tensorflow.org/">TensorFlow&trade;</a>, <a href="http://scikit-learn.org/stable/index.html">scikit-learn</a>,
                        <a href="http://spark.apache.org/">Apache Spark&trade;</a> and more for developing models.
                        Teams can spend more time solving critical business needs and less on installing and maintaining infrastructure with the Open Data Hub.
                    </p>
                    <p>
                        Open Data Hub is a meta-project that integrates open source projects into a practical solution.
                        It aims to foster collaboration between communities, vendors, user-enterprises, and academics
                        following open source best practices.  The <strong>open source community</strong> can
                        experiment and develop <strong>intelligent applications</strong> without incurring high costs and
                        having to master the complexity of modern machine learning and artificial intelligence software stacks.
                    </p>
                </div>
                <div class="dh-info-section">
                    <h2 class="dh-info-title">Getting Started</h2>
                    <p>
                        For additional information about the Open Data Hub, <a href="{{ site.baseurl }}/news.html">read our blogs</a>.
                    </p>
                    <p>
                        To set up the Open Data Hub, all you need is a running <a href="https://www.openshift.com/">OpenShift&reg;</a> cluster.
                        For storing data and models, we recommend using a S3 object store such as <a href="https://ceph.com/ceph-storage/object-storage/">Ceph</a>.
                    </p>
                    <p>
                        Once your OpenShift and Ceph installations are running, deploy the Open Data Hub components using
                        our <a href="https://www.ansible.com/">Ansible</a> playbooks and OpenShift&reg; deployment templates.
                    </p>
                    <p>
                        <a class="btn btn-primary" role="button" target="_blank" href="{{ site.repo }}">
                        Installation &raquo;
                        </a>
                    </p>
                </div>
                <div class="dh-info-section">
                    <h2 class="dh-info-title">Coming Up Next</h2>
                    <p>
                        Read about the new features coming to Open Data Hub in our <a href="https://opendatahub.io/news/2019-04-29/2019-04-29-project-road-map-for-2019.html">Project Road Map</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-4 dh-info-img-container">
                <img src="{{ site.baseurl }}/assets/img/datahub_flow.png" alt="Data Hub Parts">
            </div>
        </div>

        <!--<div class="row dh-more-info">-->
            <!--<div class="col-md-4">-->
                <!--<h2>Getting Started</h2>-->
                <!--<p>-->
                    <!--All you need to get started with the Open Data Hub is a running <a href="https://www.openshift.com/">OpenShift&reg;</a> cluster.-->
                    <!--For storing data and models, we strongly recommend using a S3 object store such as <a href="https://ceph.com/ceph-storage/object-storage/">Ceph</a>.-->
                <!--</p>-->
                <!--<p>-->
                    <!--Once your OpenShift and Ceph installations are running, deploy the Open Data Hub components using-->
                    <!--our <a href="https://www.ansible.com/">Ansible</a> playbooks and OpenShift&reg; deployment templates.-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a class="btn btn-primary-inverse" role="button" target="_blank"-->
                       <!--href="https://gitlab.com/opendatahub">-->
                        <!--Installation &raquo;-->
                    <!--</a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Documentation</h2>-->
                <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore-->
                    <!--et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
                    <!--aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
                    <!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
                    <!--culpa qui officia deserunt mollit anim id est laborum.-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a class="btn btn-primary-inverse" role="button" target="_blank"-->
                       <!--href="https://gitlab.com/opendatahub">-->
                        <!--Docs &raquo;-->
                    <!--</a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Contributing</h2>-->
                <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore-->
                    <!--et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
                    <!--aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
                    <!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
                    <!--culpa qui officia deserunt mollit anim id est laborum.-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a class="btn btn-primary-inverse" role="button" target="_blank"-->
                       <!--href="https://gitlab.com/opendatahub">-->
                        <!--Source &raquo;-->
                    <!--</a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</main>
